<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head> 
 <div id="header">
  <div id="image_left">
    <h1>{{ title }}</h1>
    <h4>{{date}}{{location}}</h4>
  </div>
  <div id="image_right">
    <img class="absolute" src="http://www.ecst.csuchico.edu/ltc/MESA/jobfair/photos/csuc-signature.jpg">
  </div>
</div>
<hr />

  
<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/companies">Companies</a></li>
			<li><a routerLink="/companyreg">Company Registration Form</a></li>
  </ul>
  <p class="navbar-text">Some text</p>
</nav>
  	<router-outlet></router-outlet>
