h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}


.loading-message {
  text-align:center; 
  font:bold status-bar; 
  padding-top: 20px; 
}

#title {
  text-align: center
}

