<h1>{{ title }}</h1>

<form (ngSubmit)="onSubmit()">
  
  <div>
		<label for="contactName">*Contact Name</label> 
		<input type="text" class="form-control" id="contactName" name="contactName" ngControl="contactName" 
    [(ngModel)]="newCompany.contactName" placeholder="Jane Doe" required>
	</div>	
  
	
  <!--when you do an email this way, without class="form-control" and ngControl, the validation 
  is provided for you-->

    <div>
      <label for="myEmail">*Contact Email</label>     
      <input type="email" class="form-control" id="contactEmail" [(ngModel)]="newCompany.contactEmail" 
          name="contactEmail" placeholder="Email@mail.com" #contactEmail="ngModel" required/>   
      <div [hidden]="contactEmail.valid || contactEmail.untouched" class="alert alert-danger">
        Email Required
      </div>
      <div *ngIf="!validContactEmail() && contactEmail.touched">
        <alert type="warning">
          <strong> Not a Valid Email</strong>
        </alert>
      </div>
    </div>

  
  <div>
		<label for="billingContactName">*Billing Contact Name</label> 
		<input type="text" class="form-control" id="billingContactName" name="billingContactName" ngControl="billingContactName" 
      [(ngModel)]="newCompany.billingContactName" placeholder="Bill Marx" required>
	</div>	
	
    <div>
      <label for="billingEmail">*Billing Email</label> 
      <input type="email" class="form-control" id="billingEmail" [(ngModel)]="newCompany.billingEmail" 
          name="billingEmail" placeholder="marx190@billing.com" #billingEmail="ngModel" required> 
      <div [hidden]="billingEmail.valid || billingEmail.untouched" class="alert alert-danger">
        Email Required
      </div>
      <div *ngIf="!validBillingEmail() && billingEmail.touched">
        <alert type="warning">
          <strong> Not a Valid Email</strong>
        </alert>
      </div>
    </div>

  <div>
    <label for="contactPhoneNumber">*Contact Phone Number</label>
    <input type="tel" class="form-control" id="contactPhoneNumber" name="contactPhoneNumber" ngControl="contactPhoneNumber" 
      [(ngModel)]="newCompany.contactPhoneNumber" placeholder="1 999 234 4545 OR 1 (999) 234-4545 OR 19992344545" #phone="ngModel" required>
    <div [hidden]="phone.valid || phone.untouched" class="alert alert-danger">
      Phone Number Required
    </div>
    <div *ngIf="!validPhoneNumber() && phone.touched">
      <alert type="warning">
        <strong>Phone number must contain 11 digits and no letters</strong>
      </alert>
    </div>
  </div>
  <!--<div *ngIf="!validPhoneNumber() && newCompany.contactPhoneNumber.touched">
    <alert type="warning">
      <strong> Phone number must include 10 numbers and no letters</strong>
    </alert>
  </div>-->
  
  <div>
    <label for="companyName">*Company Name</label>
    <input type="text" class="form-control" id="companyName" name="companyName" ngControl="companyName" 
    [(ngModel)]="newCompany.companyName" placeholder="JaneTech Corporation" required>
  </div>
  
  <div>
    <label for="companyWebsite">*Company Website</label>
    <input type="url" class="form-control" id="companyWebsite" name="companyWebsite" ngControl="companyWebsite" 
      [(ngModel)]="newCompany.companyWebsite" placeholder="https://www.janetech.com" #website="ngModel" required>
    <div [hidden]="website.valid || website.untouched" class="alert alert-danger">
      Website Required
    </div>
    <div *ngIf="!validURL() && website.touched">
      <alert type="warning">
        <strong> Not a valid URL</strong>
      </alert>
    </div>
  </div>
  
  <div>
    <label for="companyDescription">*Company Description</label>
    <textarea type="text" class="form-control" rows="5" cols="80" id="companyDescription" name="companyDescription" ngControl="companyDescription" 
    [(ngModel)]="newCompany.companyDescription" placeholder="Find solutions to your tech problems here!" required>
    </textarea>
  </div>
  
  <div>
    <label>Select Desired Majors:</label>
    <ul>
      <li *ngFor="let major of majorOptions; let i = index">
        <input type="checkbox" (change)="newCompany.AddMajor(major)"> {{ newCompany.toDisplay(major) }}
      </li>
      <div [hidden]="majorsSelectedBoolean" class="alert alert-danger">     
        Please select at least one major.
      </div>
    </ul>
  </div>

  <div>
    <label>Select Desired Positions:</label>
    <ul>
      <li *ngFor="let position of positionOptions; let i = index">
        <input type="checkbox" (change)="newCompany.AddPosition(position)"> {{ newCompany.toDisplay(position) }}
      </li>
      <div [hidden]="positionsSelectedBoolean" class="alert alert-danger">     
        Please select at least one position.
      </div>
    </ul>
  </div>
  
  <div>
    <label>Select Registration Type</label><br>
    <input type="radio" id="registrationType" name="registrationType" ngControl="registrationType"
      [(ngModel)]="newCompany.registrationType" value="resumeBook">Resume Book<br>
    <input type="radio" id="registrationType" name="registrationType" ngControl="registrationType"
      [(ngModel)]="newCompany.registrationType" value="table">Table<br>
    <input type="radio" id="registrationType" name="registrationType" ngControl="registrationType"
      [(ngModel)]="newCompany.registrationType" value="resumeBookAndTable">Resume Book and Table<br>
  </div>
  
  <button type="submit" (click)="staticModal.show()">Submit Registration</button>

</form> <br>

 <!--Modal Message. Displays Once the user successfully completes the Registration Form-->
      <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title pull-left"><strong>Registration Complete</strong></h4>
              <button type="button" class="close pull-right" aria-label="Close" routerLink="/" (click)="staticModal.hide()">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <alert type="success">
                  You have successfully completed your registration
              </alert>
            </div>
          </div>
        </div>
      </div>