<h1>{{ title }}</h1>

<form (ngSubmit)="onSubmit()">
	<div> 
		<label for="contactName">Contact Name</label> 
		<input type="text" id="contactName" name="contactName" ngControl="newCompany.contactName" [(ngModel)]="newCompany.contactName" required>
	</div>	
	<div>
		<label for="contactEmail">Contact Email</label> 
		<input type="email" id="contactEmail" name="contactEmail" ngControl="contactEmail" [(ngModel)]="newCompany.contactEmail" required> 
	</div>
  <div>
    <label for="contactPhoneNumber">Contact Phone Number</label>
    <input type="tel" id="contactPhoneNumber" name="contactPhoneNumber" ngControl="contactPhoneNumber" [(ngModel)]="newCompany.contactPhoneNumber"
      required>
  </div>
  <div>
    <label for="companyName">Company Name</label>
    <input type="text" id="companyName" name="companyName" ngControl="companyName" [(ngModel)]="newCompany.companyName" required>
  </div>
  <div>
    <label for="companyWebsite">Company Website</label>
    <input type="url" id="companyWebsite" name="companyWebsite" ngControl="companyWebsite" [(ngModel)]="newCompany.companyWebsite"
      required>
  </div>
  <div>
    <label for="companyDescription">Company Description</label>
    <input type="text" id="companyDescription" name="companyDescription" ngControl="companyDescription" [(ngModel)]="newCompany.companyDescription"
      required>
  </div>
  <div>
    <label>Select Desired Majors:</label>
    <ul>
      <li *ngFor="let major of majorOptions; let i = index">
        <input type="checkbox" (change)="AddMajor(major)"> {{ ToDisplay(major) }}
      </li>
      <div [hidden]="majorsSelectedBoolean" class="alert alert-danger">     
        Please select at least one major.
      </div>
    </ul>
  </div>

  <div>
    <label>Select Desired Positions:</label>
    <ul>
      <li *ngFor="let position of positionOptions; let i = index">
        <input type="checkbox" (change)="AddPosition(position)"> {{ ToDisplay(position) }}
      </li>
      <div [hidden]="positionsSelectedBoolean" class="alert alert-danger">     
        Please select at least one position.
      </div>
    </ul>
  </div>
  <div>
    <label>Select Registration Type</label><br>
    <input type="radio" id="registrationType" name="registrationType" ngControl="registrationType"
      [(ngModel)]="newCompany.registrationType" value="resumeBook">Resume Book<br>
    <input type="radio" id="registrationType" name="registrationType" ngControl="registrationType"
      [(ngModel)]="newCompany.registrationType" value="table">Table<br>
    <input type="radio" id="registrationType" name="registrationType" ngControl="registrationType"
      [(ngModel)]="newCompany.registrationType" value="resumeBookAndTable">Resume Book and Table<br>
  </div>
  <button type="submit">Submit Registration</button>


 

</form> <br>
