    

      <h1> {{title}} </h1>
      <br/>
      <div>
        <label>*First Name</label>     
        <input [(ngModel)]="tempVolunteer.firstName" placeholder="First Name" required/>   
      </div>
      <br/>
      <div>
        <label>*Last Name</label>     
        <input [(ngModel)]="tempVolunteer.lastName" placeholder="Last Name" required/>   
      </div>
      <div>
        <h2> {{tempVolunteer.firstName}} </h2>
        <h2> {{tempVolunteer.lastName}} </h2>
      </div>

      <button (click)="onSubmit()">Submit Registration</button>

      <hr/>

      <h3>Top Volunteers</h3>
        <div class="grid grid-pad">
          <a *ngFor="let volunteer of volunteerList" class="col-xs-8 col-md-6">
         <div class="module hero">
          <h4>{{volunteer.firstName}}</h4>
          <h4>{{volunteer.lastName}}</h4>
        </div>
        </a>
      </div>
