

<!--<carousel>
    <slide>
        <img src="http://lorempixel.com/1500/600/abstract/" alt="First slide">
    </slide>

    <slide>
        <img src="http://lorempixel.com/1500/600/food/" alt="Second slide">
    </slide>

    <slide>
        <img src="http://lorempixel.com/1500/600/nature/" alt="Third slide">
    </slide>

    <slide>
        <img src="http://lorempixel.com/1500/600/city/" alt="Fourth slide">
    </slide>
</carousel>-->


<carousel >
  
        <slide *ngFor="let image of images">
            <img src="{{image.url}}">
        </slide>
  
</carousel>
