
<div *ngFor="let company of companies"> 
  <div class="panel">
        
            <div class = "row">
                <div  class = "col-sm-3">
                    <button type="button" class="myButton"
                        popover={{company.companyDescription}}
                        popoverTitle={{company.companyName}}
                        placement="bottom">
                        <h3>{{company.companyName}}</h3>
                        
                    </button>

                </div>
                <div class = "col-sm-3">
                    <p>Interested in:</p>
                    <p>{{ company.desiredMajors }}</p>
                </div>
                <div class = "col-sm-2">
                    <p>Looking for:</p>
                    <p>{{ company.desiredPositions }}</p>
                </div>
                <div class = "col-sm-4">
                    <p>{{ company.companyName }}'s site:</p>
                    <p><a target="_blank" href="{{company.companyWebsite}}">{{ company.companyWebsite }}</a></p>
                </div>
        </div>
    </div>
</div>

