.company-row-even{
    background-color: #f2f2f2
    /*background-color: black*/
}
.company-row-odd{
    background-color: white
    /*background-color: black*/
}

.disabled {
   pointer-events: none;
   cursor: default;
}