
<!--HEADER START-->
<div class="container-fluid">

   <div id="header" class="row">
     <div id="image_right"class="col-xs-12 col-md-4 col-md-push-8">
      <img class="absolute" src="http://www.ecst.csuchico.edu/ltc/MESA/jobfair/photos/csuc-signature.jpg">
    </div>

    <div id="image_left" class="absolute col-xs-12 col-md-8 col-md-pull-4">
      <h1>{{ title }}</h1>
      <h4>{{date}}{{location}}</h4>
    </div>

  </div>

</div>
<!--HEADER END-->

<hr/>
<br>

<!--NAVBAR START-->
<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/companies">Companies</a></li>
      <li><a routerLink="/registration">Registration</a></li>
      <!--add parking directions page-->
      <li><a routerLink="/parking">Parking</a></li>
      
  </ul>

</nav>
<!--NAVBAR END-->
  	