<div class="admin-login">
    <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
    <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
</div>


<h4 class="admin-login" *ngIf="!auth.authenticated()">Hello Ben, Please log in</h4>
<div *ngIf="auth.authenticated()">
    
    <table>
        <tr> 
            <th>Company Name</th>
            <th>Payment type</th>
            <th>Fee </th>
            <th>Contact Name</th>
            <th>Contact Email</th>
            <th>Billing Name</th>
            <th>Billing Email</th>
            <th>Contact Phone</th>
            <th>Confirmation</th>
        </tr>

        <tr *ngFor="let company of companies" >
            <td>{{company.companyName}}</td> 
            <td>{{company.registrationType}}</td> 
            <td>{{company.moneyOwed}}</td>
            <td>{{company.contactName}}</td>
            <td>{{company.contactEmail}}</td>
            <td>{{company.billingContactName}}</td>
            <td>{{company.billingEmail}}</td>
            <td>{{company.contactPhoneNumber}}</td>  
            <td>{{company.confirmation}}</td>
        </tr>
    </table>

    <hr>
     <a target="_blank" href="http://localhost:3000/download"><button class="btn btn-primary btn-margin"> Download Resumes</button> </a>

    <table>
        <tr> 
            <th>First Name</th>
            <th>Last Name</th>
            <th>Student ID</th>
        </tr>

        <tr *ngFor="let resume of resumes" >
            <td>{{resume.firstName}}</td> 
            <td>{{resume.lastName}}</td> 
            <td>{{resume.studentId}}</td>
        </tr>
    </table>


</div>