<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.7/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<h1 id="title"> {{title}} </h1>



<!--Carousel Start-->
<homecarousel></homecarousel>
<!--END-->



<h3>About the Career Fair</h3>

<p> {{paragraph1}} </p>
<p> {{paragraph2}} </p>


<h2>Sponsored by:</h2>
<h2 id="sponsor-message"> {{sponsorMessage}} </h2> 
<div class="row">
    <div *ngFor="let sponsor of sponsors">
        <img src="{{sponsor.url}}" alt="{{sponsor.url}}" class="col-xs-3 sponsor-img"  >
    </div>  
</div>