<h1>{{ title }}</h1>

<li *ngFor="let company of companies"> 
  <div class="jumbotron"> 
    <div id="header"> 
      <h1>{{company.name}}</h1> 
    </div> 
    <div id="body1"> 
      <h2>Major Desired</h2> 
      <h3>{{company.majorDesired}}</h3> 
    </div> 
    <div id="body2"> 
      <h2>Position </h2> 
      <h3>{{company.position}}</h3>
    </div>
    <div id="body3"> 
      <h2>Website </h2> 
      <h3> 
        <a href="{{company.website}}" target="_blank">{{ company.website }} </a>
      </h3>
    </div> 
  </div> 
</li>