#header 
{
  background-color: rgba(0, 0, 0, .1); 
  text-align: center; 
  border-radius: 25px; 
}

h1 
{
  font-size: 20px; 
}
h2 
{
  font-size: 20px; 
  text-align: center; 
}

h3
{
  font-size: 15px; 
  text-align: center; 
}

#body1
{
  display:inline-block; 
  width: 32%; 
  height: 100px; 
}

#body2
{
  display: inline-block; 
  width: 32%; 
  height: 100px; 
}

#body3
{
  display:inline-block; 
  width: 32%; 
  height: 100px; 
}

li
{
  list-style-type: none; 
}

.jumbotron 
{
  padding: 0; 
  width: 75%; 
  margin-left: 12%; 
  border-radius: 25px; 
}