<div class="container">
	<h1>Company Registration Form</h1>
	<form> 
		<div class="form-group">
			<label for="name">Company Name: </label> 
			<input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
		</div>
		<div class="form-group"> 
			<label for="position">Position: </label> 
			<input type="text" class="form-control" id="position" required [(ngModel)]="model.position" name="position"> 
		</div>
		<div class="form-group"> 
			<label for="website">Website: </label> 
			<input type="text" class="form-control" id="website" required [(ngModel)]="model.website" name="website">
		</div>
		<button type="button" class="btn btn-default" (click)="newCompany()">New Company</button>
	</form>
	<div> 
	<ul> 
		<li *ngFor="let company of companies"> 
			{{company.name}}, <br> 
			{{company.position}}, <br> 
			{{company.website}} <br><br><br>	
		</li> 
	
	</ul>
	</div>
</div>
